

.nav{
    grid-area: n;
    background-color: rgb(20 56 37);;
    padding: 20px 0 0 15px;
  }

  
  .item a{
    color: rgb(140, 122, 7);
    text-decoration: none;
  }

  .item .active{
    color: rgb(181, 202, 24);
  }

  